@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: white;
}

body{
    background: rgb(157, 0, 255);
}

.container{
    width: 800px;
    border: 10px solid rgb(255, 68, 0);
    margin: 150px auto;
    text-align: center;
    padding: 50px;
}

.counter_nmbr{
 margin-top: 30px;
}

.btns{
padding: 30px;
word-spacing: 30px;
}

button{
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(255, 34, 34);
    color: white;
    border: none;
}

button:hover{
    background-color:rgb(135, 1, 1);
    cursor: pointer;
    color: white;
}

h1,h2,h3{
    font-size: 50px;
    font-weight: 800;
}